.neonText2 {
  /* Sulla scritta */
  color: #cef3f1;
  /* ombre */
  text-shadow: 0 0 7px #cef3f1, 0 0 10px #cef3f1, 0 0 15px #cef3f1, 
  0 0 42px #cde3f3, 0 0 82px #cde3f3, 0 0 92px #cde3f3;
  font-family: "Tourney";
}

.logo {
  display: flex;
  width: 30%;
}

#invader {
  width: 100%;
  height: auto;
  /* padding: 4% 0 0 2%; */
  fill: #cef3f1;
}

/* Effects */

#invader {
  filter: drop-shadow(0 0 25px #cde3f3);
}

/* Additional styling */

body {
  margin: 0;
  font-size: 18px;
  background-color: #0d0118;
}

h1 {
  font-weight: 400;
  font-size: 4em;
}

h2 {
  font-size: 1.8rem;
}

.container {
  display: flex;
  justify-content: center;
}

.header {
  width: 25vw;
  display: flex;
  padding-left: 1em; 
  justify-content:space-evenly;
}

.header-background {
  background-image: url("../images/stars01.jpg");
}
