/* #logo {
  filter: drop-shadow(0 0 11px #0095ff);
} */

/* Additional styling */
p {
  margin: 0;
}
body {
  margin: 0;
  background-color: #0d0118;
}

html {
  scroll-behavior: smooth;
}

/* ================ Header ================ */
.logo {
  display: flex;
  justify-content: center;
  align-self: center;
  filter: drop-shadow(0 0 11px #0095ff);
  width: 40vw;
}

#scrittalogo {
  text-shadow: 0 0 20px #cef3f1;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 18vw;
  /* background-color: #31546d; */
  background: linear-gradient(to bottom, #0d0118 0%, #31546d 96%, #31546d 100%);
  /* background-image: url("../images/stars03.jpg"); */
}

/* ================ Sticky navbar ================ */
#navbar {
  overflow: hidden;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #31546d;
  font-size: 1.5rem;
}

/* Left side navbar */
#navbar a {
  float: left;
  display: block;
  color: #cef3f1;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #f3e6fb;
  color: #0d0118;
}

#navbar a.active {
  background-color: #7c3fbe;
  color: #cef3f1;
}

/* Right side navbar */
#navbar a.rightNavbar {
  float: right;
}

.content {
  padding: 1% 8%;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  /* color: #0d0118; */
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* ================ Footer ================ */
footer {
  bottom: 0;
  width: 100%;
  background-color: #31546d;
  color: #cef3f1;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  font-size: 1.5em;
}

/* flex design */
.footer-container {
  display: flex;
  align-self: center;
}

footer {
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.logo-footer {
  display: flex;
  /* justify-content: center; */
  align-self: center;
  /* filter: drop-shadow(0 0 11px #0095ff); */
  width: 20vw;
}

.footer-text-container {
  flex-direction: row-reverse;
  display: flex;
  justify-content: space-around;
}

.footer-text-cookies {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  padding: 0px 20px;
}

.footer-text1 {
  display: flex;
  align-self: center;
}

#row1 {
  display: flex;
  padding-top: 1%;
  height: 66%;
  justify-content: space-between;
}

#row2 {
  display: flex;
  /* height: 33%; */
  font-size: 1rem;
  justify-content: center;
}

/* ================ ToTop Button ================ */

#toTopButton {
  display: none; /* Nascosto di default */
  position: fixed; /* Posizione ancorata */
  bottom: 20px; /* Distanza dal fondo pagina */
  right: 20px; /* Distanza dalla destra */
  z-index: 99; /* Posiziona il bottone al livello più alto */
  border: none;
  outline: none;
  background-color: #7c3fbe;
  color: white; /* Colore freccia */
  width: 50px;
  height: 50px;
  /* padding: 15px; /* Padding: se imposto la dimensione non serve */
  border-radius: 50%; /* Arrotonda angoli bottone */
  font-size: 1.25rem; /* Dimensione font freccia */
}

#toTopButton:hover {
  background-color: #f3e6fb; /* Evidenzia il bottone al passaggio del mouse */
  color: #0d0118;
  cursor: pointer; /* Il cursore diventa manina al passaggio del mouse */
}
