body {
	font-family: 'VT323', monospace;
	font-size: 1.3em;
	background-color: black;
	color: #c0c0c0;
}

#header {
	width: 300px;
	font-size: 0.5rem;
	color: cyan;
}

a:visited {
  color: cyan;
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
}

table > tr, th, td{
	border: 1px dashed #c0c0c0;
	padding: 10px;
}

thead {
	font-family: 'VT323', monospace;
	font-weight: bold;
	position: sticky;
    top: 0;
    background-color: teal;
    color: black;
}

#articles {
	overflow: auto;
	height: 70vh;
	border: 4px outset #c0c0c0;
}

.options {
	text-align: center;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #c0c0c0;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 0;
  border: 4px outset white;
  width: 80%; /* Could be more or less, depending on screen size */
  color: black;
}

.title-bar {
	background-color: #000b7b;
	text-align: center;
	color: white;
}

#input {
	padding: 10px;
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-gap: 16px;
}

textarea {
	resize: none;
}

label {
    grid-column: 1 / 2;
}

input, button {
    grid-column: 2 / 3;
}

/* The Close Button */
.close {
  background-color: #c0c0c0;
  color: black;
  float: right;
  font-size: 20;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}

.column-option {
	display: none;
}